vllm-0.6.6.post2/results
vllm-0.6.6.post2/hostfile

cptotmp
examples/NICK.NARRATIVE/

# Ignore all batch_1 files except first 5 examples
#examples/TOM.COLI/batch_1/*
#!examples/TOM.COLI/batch_1/chunk_0000.txt
#!examples/TOM.COLI/batch_1/chunk_0001.txt
#!examples/TOM.COLI/batch_1/chunk_0002.txt
#!examples/TOM.COLI/batch_1/chunk_0003.txt
#!examples/TOM.COLI/batch_1/chunk_0004.txt

examples/TOM.COLI/batch_1-no-organism/
examples/TOM.COLI/batch_1-with-organism/
examples/TOM.COLI/merged_genomes.txt
examples/TOM.COLI/merged_genomes.txt.summary
examples/TOM.COLI/ori-data-rick/
examples/TOM.COLI/split_data-no-organism/
examples/TOM.COLI/split_data-with-organism/
examples/TOM.COLI/split_data/
intel_transformer_ext/itrex/
redis/__pycache__/
redis/dump.rdb
redis/redis-server.log
redis/redis-stable.tar.gz
redis/redis-stable/
vllm-0.6.6.post2
vllm/cptotmp
vllm/hostfile
vllm/results/
ollama

*.output.log
hostfile
logs/
vllm_oss_conda_pack_01082026.tar.gz
*_results_*
time_*
*.png
pbs_utils
